<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'head.twig' %}
    </head>
    <body>
        {% include 'header.twig' %}
        <div class="wrap">
            {% include 'main.twig' %}
        </div>
        {% include 'footer.twig' %}
        <script>var _gaq=[['_setAccount','{{ page.google_analytics }}'],['_trackPageview']];(function(a,b){var c=a.createElement(b),d=a.getElementsByTagName(b)[0];c.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";d.parentNode.insertBefore(c,d)})(document,"script");</script>
    </body>
</html>
